html,body {
    margin:0px;
    padding:0px;
}
header {
  display: flex;
  max-width: 380px;
  height: 25px;
}

.nav-bar{
    justify-content: space-around;
    flex: 1;
}

body {
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(img/header-background-mobile.png);
}

.logo-icon {
  flex: 1;
}

main {
  width: 380px;
}

.main-image {
  width: 70%;
}

img {
  width: 300px;
  height: 220px;
  margin: 20px;
}

.footer-section {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;
  padding: 0px;
}


.text-section {
  list-style: none;
}

.navi {
  display: flex;
  justify-content: space-between;
}

.grid1 {
  display: grid;
  grid-template-columns: 20% 20% 20% 3fr;
}

#lang {
  display: inline;
}

.contact {
  background-color: rgb(13, 13, 199);
}

.btn:hover {
    background-color: blue;
    border: 20px solid rebeccapurple;
    font-size: 30px;
}