body {
  padding:2;
  font-family: 'Poppins', sans-serif;
  width: 375px;
  height: 718px;
  background-color: rgba(255, 255, 255, 1);
  display: grid;
  
}

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
  margin-bottom: 60px;
}

.key{
  height: 40px;
  position: relative;
  left:140px
}

.welcome-text {
  line-height: 52px;
  font-size: 40px;
  font-weight: bolder;
  align-items: center;
}

.welcome-section {
  background-image: url(img/header-shapes\ mobile@2x.png);
  display: grid
}